# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/

# Environment variables
*.env
.env
mysite/.env

# Tooling caches
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Django
mysite/db.sqlite3

# IDE
.vscode/
.DS_Store
